@model IEnumerable<QLThuVien.Models.Sach>
@{
    ViewBag.Title = "Index";
}


<style>
    header {
        background-color: rgb(57,139,147, 0.05);
        color: white;
        font-size: 1.5em;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

img {
   
   height: 170px;
   width: 200px;
}

    .table-users {
        border: 1px solid rgb(57,139,147, 0.05);
        box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
        max-width: calc(100% - 2em);
        margin: 1em auto;
        overflow: hidden;
        width: 800px;
    }

    table {
        width: 100%;
    }
   td,th
    {
        color: rgb(57,139,147, 0.1);
        padding: 10px;
    }

   td {
      text-align: center;
      vertical-align: middle;
   }

    th {
        background-color: rgb(57,139,147, 0.3);
        font-weight: 300;
    }

</style>

<h2>Danh sách sách</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
@using (Html.BeginForm("Index", "QLSach"))
{
    <input type="text" name="tensach" />
    <input type="submit" value="Tìm" />


    <div class="table-users">
        <div class="header">Users</div>

        <table cellspacing="0">
            <tr>
                <th>ID Sách</th>
                <th> Tên Sách </th>
                <th>Hình Ảnh </th>
                <th>Thể Loại</th>
                <th width="230">Mô Tả</th>
                <th>Tác Giả</th>
                <th> Ngày Xuất Bản</th>
                <th>Số Lượng </th>
                <th>Chức năng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.IDSach)</td>
                    <td> @Html.DisplayFor(modelItem => item.TenSach)</td>
                    <td><img src="@Url.Content(item.HinhAnh)" style="width:150px; height:200px" /></td>
                    <td>@Html.DisplayFor(modelItem => item.TheLoai)</td>
                    <td>  @Html.DisplayFor(modelItem => item.MoTa)</td>
                    <td> @Html.DisplayFor(modelItem => item.TacGia)</td>
                    <td> @Html.DisplayFor(modelItem => item.NgayXuatBan)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDSach }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IDSach }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDSach })|       
                        @Html.ActionLink("chi tiet cuon sach", "show","ChiTietSaches",new {idsach = item.IDSach},"")
               
                        
                    </td>
                </tr>
            }
        </table>
    </div>
}





















